.header {
  position: relative;
  width: 100%;

  @include onMobile {
    position: static;
  }

  @include onDesktop {
    height: 655px;
  }

  &__background {
    position: absolute;
    z-index: -1;
    inset: 0;
    top: -1px;
   
    max-height: 300px;
    
    @include onMobile {
      max-width: 100%;
      margin: 0;
    }

    @include onTablet {
      min-height: 384px;
      max-height: 384px;
    }

    @include onDesktop {
      min-height: 655px;
      max-height: 655px;
    }
  }

  &__background-image {
    display: block;

    position: absolute;

    object-fit: cover;
    max-height: 300px;

    @include onMobile {
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      width: 100vw;
      object-position: top left;

      min-height: 300px;
    }

    @include onTablet {
      grid-column-start: 3;

      left: -10px;

      max-height: 384px;
    }

    @include onDesktop {
      grid-column-start: 6;

      left: 0;

      max-height: 655px;
    }
  }

  &__nav {
    margin-bottom: 20px;
    padding-top: 15px;

    @include onTablet {
      margin-bottom: 48px;
    }

    @include onDesktop {
      margin-bottom: 148px;
    }
  }

  &__title {
    grid-column: 1;

    margin: 0 0 20px;
    width: min-content;

    font-family: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    -webkit-text-stroke: #0f0e08 1px;

    &--outline {
      -webkit-text-stroke: black 1px;
      -webkit-text-fill-color: transparent;
    }

    @include onMobile {
      position: static;

      -webkit-text-stroke: transparent;

      &--outline {
        -webkit-text-stroke: transparent;
        -webkit-text-fill-color: black;
      }
    }

    @include onTablet {
      font-size: 55px;
      font-weight: 700;
      text-align: left;
    }

    @include onDesktop {
      grid-column: 3;
      
      width: min-content;
      margin-bottom: 80px;

      text-align: left;
      font-size: 72px;
    }
  }

  &__tickets {
    display: flex;

    width: 220px;
    height: 70px;
    
    grid-column: 1 / 2;
    
    @include onMobile {
      width: 280px;
      height: 50px;
    }

    @include onTablet {
      grid-column: 1;
    }

    @include onDesktop {
      grid-column: 3;
    }
  }

  &__tickets-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 70px;
    box-sizing: border-box;
    
    border: 1px solid #1a5a4c;
    color: #0f0e08;
    
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    
    @include onMobile {
      width: 230px;
      height: 50px;
    }
  }

  &__tickets-icon {
    display: block;

    width: 70px;
    height: 70px;
    
    background-color: #1a5a4c;
    background-image: url("../images/arrow_right.svg");
    background-repeat: no-repeat;
    background-position: center;

    @include onMobile {
      width: 50px;
      height: 50px;
    }
  }

  &__events-link {
    display: none;
    align-self: flex-start;
    justify-self: start;

    position: relative;
    bottom: 20px;
    
    width: max-content;
    text-decoration: none;
    color: #687480;

    transform: rotate(270deg);

    &::before {
      content: "";
      display: block;

      position: absolute;
      right: 90px;

      height: 1px;
      width: 70px;
      background-color: #1a5a4c;
    }

    @include onDesktop {
      grid-column: 1;
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}
